
@{
    ViewBag.Title = "Our Customers";
}

<h2>Our Customers</h2>
<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/iwave.png" class="leftimg">
    <h1>Jet Mobile</h1>
    “iWave Information Systems has now used Letrium on several occasions for a multitude of custom requirements. Some were quite simple in scope and some were very involved. At every turn Letrium has done exceptional work and have provided us with “on the money” project estimates and always turned the project around in the estimated time frame. Letrium’s work has enabled us save significant time while working in Sugar and that has made my team more efficient and more productive.”
    Glen Stevens,<br/>
    Vice President of Sales<br />
    iWave Information Systems Inc.<br />
    <a href="http://iwave.com/">http://iwave.com/</a>
</div>
<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/sugarlogo.png" class="rightimg">
    “Letrium has been a wonderful development shop to work with, with all projects delivered on time and as expected with professional results. And they have been a great boost to the SugarCRM community as a whole, providing great advice and recommendations to other developers working on the platform.”
    John Mertic,<br/>
    Community Manager<br />
    SugarCRM Inc.<br />
    <a href="http://www.sugarcrm.com">http://www.sugarcrm.com</a>
</div>

<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/iscon_log_wp.png" class="leftimg">
    “We are working with Letrium now for almost 5 years and they have proven to be a reliable and trustworthy partner. We also worked with other development partners in the Sugar field but always returned to Letrium because they do not only know Sugar inside out, they also understand requirements without us defining each and every tiny function. Letrium is and was an integrated part of our success.”
    Robert Laussegger,<br/>
    Managing Director,<br />
    iscon group<br />
    <a href="http://iscongroup.net">http://iscongroup.net</a>
</div>

<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/company_logo.png" class="rightimg">
    “Great, professional, and competent in SugarCRM development. Throughout the collaborative effort to develop our in-house CRM , Letrium has always been responsive and always fair. We are looking forward to a long-term relationship.”

    Jack Konshin,<br/>
    CEO / President<br/>
    Insurance Supermarket Inc.<br/>
    <a href="http://insurance-supermarket.ca/">http://insurance-supermarket.ca/</a>
</div>

<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/synlighet-logo.png" class="leftimg">
    “Synlighet is a company located in Norway delivering high performance marketing services and consulting related to Google Adwords, Google Analytics and a range of other products that enhances profitability for our clients.
    Having collaborated with Letrium over a longer period of time, we can confirm that the company offers a highly professional support and development service related to Sugar CRM. Letrium has on several occasions upgraded our systems and installed plugins. They have also developed new features adapted to our needs.
    The communication between our companies is efficient, accurate and without any misunderstandings.
    We are very satisfied with these services and can safely recommend Letrium for anyone who requires quality deliveries related to Sugar CRM.”
    Torbjorn Hansen<br/>
    CEO / Synlighet as<br/>
    <a href="http://www.synlighet.no">http://www.synlighet.no</a>
</div>

<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/antamis.jpg" class="rightimg">
    “Letrium has provided competent resources for us on short notice when we needed to complete some complex SugarCRM projects. Letrium engineers worked to get the job done and when they promised a timeline, they would meet or beat their date. Their assistance has helped improve our results.”
    Markku Suominen,<br/>
    Managing Director<br/>
    Antamis Sprl<br/>
    <a href="http://antamis.com/">http://antamis.com/</a>
</div>

<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/focusinsurance.png" class="leftimg">
    “Letrium has provided Focus Financial Services, Inc. with quality, professional, and timely SugarCRM support and development services for over 2 years. Letrium has developed many SugarCRM customizations including integration with other applications. They have also developed several web applications that are integrated with our SugarCRM. Letrium has exceeded our expectations and I would recommend there services to anyone looking for SugarCRM development and/or support services.”

    Jim Hollman,<br/>
    Focus Financial Services, Inc.<br/>
    <a href="http://focushome.net/">http://focushome.net/</a>
</div>

<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/itsys24.jpg" class="rightimg">
    “As an Consulting and Service Company we implement and customize Open Source Solutions for our Customers. With Letrium we find a perfect Partner to accelerate proceedings. With there high quality and professional work Letrium helps us to gain our competitive capability.Especially with there fast and flexible Responding Letrium fits exactly our needs. Our Customer are satisfied as well as we are.”
    Jens Iburg,<br/>
    CEO<br/>
    fre.iburgit systems<br/>
    <a href="http://itsys24.de/">http://itsys24.de/</a>
</div>

<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/conscious.png" class="leftimg">
    “We have worked with Letrium on a number of SugarCRM customisations over the last six months. Their work is timely, accurate and cost-effective. They are an excellent off-shore partner complementing our on-shore SugarCRM consulting services here in the UK.”

    David Gilroy,<br/>
    Sales and Marketing Director<br/>
    Conscious<br/>
    <a href="http://www.conscious.co.uk/">http://www.conscious.co.uk/</a>
</div>

<div class="divMarg">
    <img src="http://letrium.com/wp-content/uploads/neveroff_new.jpg" class="rightimg">
    “Letrium is supporting with consulting and coding in a variety and complex SugarCRM tasks and requirements. They provide us with a high quality of services and we are totally satisfied with the level of their services.”
    Fabian Karsch,<br/>
    Geschäftsführung / CEO<br/>
    Neveroff.net GmbH<br/>
    <a href="http://neveroff.net/">http://neveroff.net/</a>
</div>