
@{
    ViewBag.Title = "About Us | Letrium Ltd.";
}


    <section id="aboutus">
        <div class="container-full">
            <div class="container">

                <div id="aboutusleft" class="col-xs-6 element_from_right" style="opacity: 1; right: 0px;">
                    <div class="heading">
                        <h3>About Us</h3>
                    </div>
                    <p>
                        The specialists of our company "Letrium" are experts in their work and are able to manage the projects on any level. We have a sound knowledge and experience in developing a variety of web-additions, including integration and customization of CRM-systems on the basis of well known Open Source SugarCRM. We provide only qualified services and guarantee only "correct" solutions of your problems.
                    </p>
                </div> <!-- /#aboutusleft -->

                <div id="aboutusright" class="col-xs-6 element_from_left" style="opacity: 1; left: 0px;">
                    <div class="heading">
                        <h3>Number of completed Projects</h3>
                    </div>

                    <p>CRM development and customizations:</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width: 58%; background-color:#53DAC5">
                            58%
                        </div>
                    </div>

                    <p>CRM integrations:</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%; background-color:#4C99DB">
                            28%
                        </div>
                    </div>

                    <p>CRM migrations:</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="19" aria-valuemin="0" aria-valuemax="100" style="width: 19%; background-color:#98CC31">
                            19%
                        </div>
                    </div>

                    <p>Total:</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="105" aria-valuemin="0" aria-valuemax="100" style="width: 105%; background-color:#F44D56">
                            105%
                        </div>
                    </div>

                </div> <!-- /#aboutusright -->

            </div> <!-- /.container -->
            <div class="clear-bottom"></div>
        </div> <!-- /.container-full -->
    </section>

