
@{
    ViewBag.Title = "Our Works";
}

<h2>Our Works</h2>
<div>
    <img src="http://letrium.com/wp-content/uploads/jetmobile.jpg" class="leftimg">
    <h1>Jet Mobile</h1>
    Jet Mobile is a Mobile Browser Application for SugarCRM and SuiteCRM (Mobile and Tablet devices).
    Jet Mobile is now available as a Lite (free) and Pro (commercial) versions. Jet Mobile lets your mobile users view, create, and modify your existing data in SugarCRM by using a web-enabled mobile device with an Web browser. Jet Mobile supports all the customization and multi-tenant capabilities that are included in SugarCRM.
    No user limitation
</div>

<div class="bigMarg">
    <img src="http://letrium.com/wp-content/uploads/ecal.jpg" class="rightimg">
    <h1>ECalendar</h1>
    ECalendar is a cool gadget which improves all abilities of using the Calender withing the SugarCRM system. Dragable Calls and Meetings – easy way to make rescheduling. Scheduling Meetings and logging Calls now proceeds very fast and easy without going by pages.  Save you time with recurrent creation of the items, not need to put a lots of similar items  each time.
    This module has become the project of the month on Sugar Forge. The new Calendar in SugarCRM (since 6.4.0) is based on this module and was contributed for Sugar by our company.
</div>
<div class="bigMarg">
    <br/>
    <img src="http://letrium.com/wp-content/uploads/EditableDetailview.jpg" class="leftimg">
    <h1>Editable DetailView</h1>
    This module makes DetailView editable. Just doubleclick on a field and edit it. A saving runs very very fast. Lite version allows you to edit only Accounts and Contacts directly from DetailView.
</div>
<div class="bigMarg">
    <img src="http://letrium.com/wp-content/uploads/invoice_2a.jpg" class="rightimg" width="400px" height="300px">
    <h1>Invoices Module</h1>
    This module makes DetailView editable. Just doubleclick on a field and edit it. A saving runs very very fast. Lite version allows you to edit only Accounts and Contacts directly from DetailView.
</div>
<div class="bigMarg">
    <img src="http://letrium.com/wp-content/uploads/simplechat.jpg" class="leftimg" width="400px" height="300px">
    <h1>SimpleChat</h1>
    This module makes DetailView editable. Just doubleclick on a field and edit it. A saving runs very very fast. Lite version allows you to edit only Accounts and Contacts directly from DetailView.
</div>
<div class="bigMarg">
    <br/>
    <img src="http://letrium.com/wp-content/uploads/workroom.jpg" class="rightimg" width="400px" height="300px">
    <h1>WorkRoom</h1>
    This module makes DetailView editable. Just doubleclick on a field and edit it. A saving runs very very fast. Lite version allows you to edit only Accounts and Contacts directly from DetailView.
</div>