@{
    ViewBag.Title = "Letrium Ltd. | CRM development and costomization, EspoCRM, SugarCRM";
}


<section id="slider">
    <div class="container-full">
        <img width="1354px" height="650" src="http://letrium.com/wp-content/uploads/main-picture.jpg" alt="Letrium">
    </div> <!-- /.container-full -->

</section>